@page "/"

<h3>
	Use the following links to explore different examples 
	of using a JS code with .NET in Blazor WebAssembly Project:
</h3>

<ul>
	<li>
		<a href="/jsindotnet">
			How to call JavaScript code from .NET
		</a>
	</li>
	<li>
		<a href="/dotnetinjs">
			How to call .NET code from JavaScript
		</a>
	</li>
	<li>
		<a href="/wrappjsindotnet">
			Wrapping JS Library in C#
		</a>
	</li>
</ul>
